<style lang="less">
  @import '~bootstrap/dist/css/bootstrap.css';

  @primary: #2626FF;
  @light: #B1B1FF;
  @neutral: #8585FF;
  @dark: #000098;
  @bright: white;

  #app {
    min-height: 100vh;
  }

  #app .btn {
    color: @bright;
    background: @dark;
  }

  #content {
    margin-top: 60px;
    color: @dark;
    min-height: calc(~"100vh - 60px");
  }

  .add-weight {
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 11px 10px;
    background: @neutral;
  }
  .add-weight div {
    display: flex;
    justify-content: space-between;
  }
  .add-weight.focused div {
    margin-bottom: 10px;
  }
  .add-weight div > * {
    border-radius: 0;
  }
  .add-weight button {
    margin-left: 10px;
  }
  .add-weight .notes {
    display: none;
  }
  .add-weight.focused .notes {
    display: block;
    width: 100%;
  }

  .weight-line {
    position: relative;
    display: flex;
  }
  .weight-line > * {
    flex: 1 1 50%;
  }
  .weight {
    text-align: right;
    font-size: 2em;
  }

  .notes-line {
    color: grey;
    padding: 3px 20px;
    font-size: .8em;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
</style>

<template>
  <div id="app">
    <div class="add-weight" :class="{focused: focused}">
      <div>
        <input class="form-control"
               type="number"
               placeholder="weight"
               v-model="weight"
               @keypress="$event.which == '13' && handleAdd()"
               @focus.stop.capture="focused = true">
        <button @click="handleAdd" class="btn btn-default">Add</button>
      </div>
      <input class="notes" v-model="notes" placeholder="extra notes..."></input>
    </div>
    <div id="content" @click="focused = false">
      <div class="weights" v-if="weights.length > 0">
        <ul class="list-group" v-for="(node, idx) of weights" :key="idx">
          <li class="list-group-item weight-line">
            <a class="close" @click="handleRemove(node)">&times;</a>
            <span class="datetime">
              <b>{{ node.datetime|dateDistance }} ago</b><br>
              <span class="text-muted">{{ node.datetime|date }}</span>
            </span>
            <span class="weight">{{ node.weight|floatformat }}</span>
          </li>
          <li class="list-group-item notes-line" v-if="node.notes">
            <i>{{ node.notes }}</i>
          </li>
        </ul>
      </div>
      <div v-else class="jumbotron">
        <p class="lead">
          You have no recorded weights
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import store from "store";
import {distanceInWordsToNow, format} from "date-fns";

export default {
  name: 'app',
  data () {
    let weights = [];
    try {
      weights = store.get("weights", []) || [];
    } catch(ex) {
      weights = [];
    }

    return {
      notes: "",
      focused: false,
      weight: "",
      weights
    };
  },
  watch: {
    weights() {
      store.set("weights", this.weights);
    }
  },
  methods: {
    handleAdd() {
      if (this.weight) {
        this.weights.unshift({
          datetime: Date.now(),
          weight: parseFloat(this.weight),
          notes: this.notes
        });
        this.notes = "";
        this.weight = "";
        this.focused = false;
      }
    },
    handleRemove(item) {
      if (confirm("Wait are you sure you want to remove this?")) {
        let idx = this.weights.indexOf(item);
        if (idx > -1) {
          this.weights.splice(idx, 1);
        }
      }
    }
  },
  filters: {
    floatformat(d) {
      return parseFloat(d).toFixed(1);
    },
    dateDistance(d) {
      return distanceInWordsToNow(d);
    },
    date(d) {
      return format(d, 'Do MMMM YYYY');
    }
  }
}
</script>
